#task-list::-webkit-scrollbar{
    display: none;
}

/* input{
    border: 2px solid rgb(73, 73, 73);
    border-radius: 15px;
    width: 50%;
}
textarea{
    border: 1px solid gray;
} */

.slide-on {
    position: relative;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%); 
  }
  

  .slide-in {
    transform: translateY(0); 
  }
  
 
  .slide-out {
    transform: translateY(-100%); 
  }
  

  #employeside-bar::-webkit-scrollbar{
    display: none;
  }